/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 16px;
}

.after-entry li,
.sidebar li {
  border-bottom: 1px dotted $medium-accent;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.after-entry .widget,
.sidebar .widget {
  background-color: $light-accent;
  border-left: 5px solid $primary-color;
  padding: 40px;
}

.sidebar .widget:last-of-type {
  margin-bottom: 40px;
}