/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #34678a;
  font-size: 16px;
  padding: 60px 0;
  text-align: center;
}

.site-footer,
.site-footer .wrap a {
  color: #fff;
}

.site-footer a.button,
.site-footer .wrap a:hover {
  color: #78a7c8;
}

.site-footer p {
  margin-bottom: 0;
}